# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads (archivos subidos por usuarios)
uploads/

# Git
.git/
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore

# Documentación
README.md
HELP.md
ARQUITECTURA.md
ESTADO_PROYECTO.md
